:root{
    font-family: 'Roboto', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    text-align: center;
}


#email-checker{
    border: 1px solid #000;
    border-radius: 10px;
    line-height: 3rem;
    padding: 1rem;
    margin: 10rem auto;
    display:  inline-block;
    font-size: 1.8rem;
}

form input{
    display: block;
    width: 12rem;
    height: 2rem;
    margin: 1rem auto;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

#calculate-button{
    background-color: orange;
    color: #fff;
    width: 5rem;
    border: 0;
    font-weight: bold;
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    margin: 1rem auto;
}